@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700;800;900;1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@400;700;800&family=El+Messiri:wght@500;600;700&family=Lalezar&family=Tajawal:wght@400;500;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Harmattan:wght@400;500;600;700&family=Marhey:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700;800;900;1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@400;700;800&family=El+Messiri:wght@500;600;700&family=Lalezar&family=Tajawal:wght@400;500;700;800;900&display=swap");

/* 
  font-family: 'Almarai', sans-serif;
font-family: 'El Messiri', sans-serif;
font-family: 'Lalezar', cursive;
font-family: 'Tajawal', sans-serif;
font-family: 'Harmattan', sans-serif;
font-family: 'Marhey', cursive;
*/

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}
html {
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.3125rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 2.652rem;
  --font-size-4xl: 4rem;
  --hero-color-primary: #deb87a;
  --hero-color-secondary: #e7cc92;
}
body {
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
img,
svg {
  width: 100%;
  display: block;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.custom-style {
  font-size: 1.5rem;
}

.custom-style > div:first-child {
  gap: 40px;
  font-family: "Harmattan", sans-serif;
  font-family: "Marhey", cursive;
  font-size: 1.2rem;
}
